.Navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.NavigationBar {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #f5e4d1;
}

.Logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  width: auto;
  height: 60%;
}

.Logo_Search {
  width: 45%;
}

.Account {
  height: 100%;
  width: 35%;
  padding-inline: 30px;
}

.Account_Link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  text-decoration: none;
  color: inherit;
}

.Account_Info {
  display: flex;
  flex-direction: column;
}

.Menu {
  display: none;
}

.LoggedIn {
  padding-left: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.LoggedIn_Logo {
  padding: 9px;
  border-radius: 150px;
  cursor: pointer;
}

.LoggedIn_Logo:hover {
  transition: 150ms ease;
  background-color: #f5e4d1;
}

.NavigationBar_Items {
  height: 45px;
  padding-inline: 24px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #cecece;
  box-shadow: 1px 3px 6px gainsboro;
  background-color: white;
}

.Category {
  cursor: pointer;
  height: 100%;
  border-bottom: 3px solid white;
  font-weight: 600;
}

.Category:hover {
  border-bottom: 3px solid #67a26a;
  font-weight: 700;
}

.Category a {
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.Category a:hover {
  color: #67a26a;
}

.Footer {
  width: 100%;
  height: fit-content;
  padding: 3% 4.5%;
  background-color: #393939;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.Footer_Social {
  display: flex;
  align-items: center;
  justify-content: right;
}

.Footer_Logos {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer_Info p {
  color: #f6f6f6;
  font-size: small;
  text-align: justify;
  text-wrap: pretty;
}

@media (641px <= width <= 1007px) {
  .Logo {
    width: 18%;
  }

  .Logo img {
    width: auto;
    height: 48%;
  }

  .Logo_Search {
    width: 37%;
  }

  .Account {
    width: 45%;
    padding-inline: 20px;
  }

  .LoggedIn {
    padding-left: 51%;
    gap: 18px;
  }

  .NavigationBar_Items {
    height: 36px;
    padding-inline: 12px;
  }

  .Category a {
    font-size: small;
  }
}

@media (width <= 640px) {
  .Logo {
    width: 24%;
  }

  .Logo img {
    width: auto;
    height: 45%;
  }

  .Account,
  .NavigationBar_Items {
    display: none;
  }

  .Logo_Search {
    width: 52%;
  }

  .Menu {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Drawer {
    min-height: 100vh;
    height: 100%;
    width: 72vw;
  }

  .Drawer_Sesion {
    padding-top: 36px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
  }

  .Drawer_Sesion p {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    text-wrap: pretty;
  }

  .Drawer_Items {
    padding-inline: 15px;
  }

  .List {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .List li {
    font-size: 16px;
    font-weight: 400;
    padding-left: 27px;
    text-decoration: underline;
    text-decoration-color: gray;
  }

  .Footer_Info p {
    text-align: center;
  }
}
