.NavigationBar {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #f5e4d175;
}

.Logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  width: auto;
  height: 60%;
}

.Logo_Search {
  width: 45%;
}

.Account {
  height: 100%;
  width: 35%;
  padding-inline: 30px;
}

.Account_Link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  text-decoration: none;
  color: inherit;
}

.Account_Info {
  display: flex;
  flex-direction: column;
}

.Menu {
  display: none;
}

.LoggedIn {
  padding-left: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.LoggedIn_Logo {
  padding: 9px;
  border-radius: 150px;
  cursor: pointer;
}

.LoggedIn_Logo:hover {
  transition: 150ms ease;
  background-color: #f5e4d1;
}

@media (641px <= width <= 1007px) {
  .Logo {
    width: 18%;
  }

  .Logo img {
    width: auto;
    height: 48%;
  }

  .Logo_Search {
    width: 37%;
  }

  .Account {
    width: 45%;
    padding-inline: 20px;
  }

  .LoggedIn {
    padding-left: 51%;
    gap: 18px;
  }
}

@media (width <= 640px) {
  .Logo {
    width: 24%;
  }

  .Logo img {
    width: auto;
    height: 45%;
  }

  .Account {
    display: none;
  }

  .Logo_Search {
    width: 52%;
  }

  .Menu {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Drawer {
    height: 100%;
    width: 72vw;
    background-color: #f5e4d181;
  }

  .Drawer_Sesion {
    padding-top: 36px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
  }

  .Drawer_Sesion p {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    text-wrap: pretty;
  }

  .Drawer_Items {
    padding-inline: 15px;
  }

  .List {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .List li {
    font-size: 16px;
    font-weight: 400;
    padding-left: 27px;
    text-decoration: underline;
    text-decoration-color: gray;
  }
}
