* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.page2 {
  padding: 3% 1%;
}

.LinkA {
  font-size: 13px;
  color: rgba(25, 118, 210);
  text-decoration-color: rgba(25, 118, 210, 0.4);
}

.LinkA:hover {
  text-decoration-color: rgba(25, 118, 210);
}
