.Divider {
  max-width: 444px;
  width: 36%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.PageTitle {
  font-size: 36px;
  font-weight: 600;
}

@media (641px <= width <= 1007px) {
  .Divider {
    width: 51%;
  }
}

@media (width <= 640px) {
  .Divider {
    width: 90%;
  }
}